$main-font: "Mulish", sans-serif;


.home-page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 110px;
  color: black;
  font-family: $main-font;
}
.footer-img{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.home-page-footer .logo {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.footer-links .footer-link {
  text-decoration: none; 
  color: inherit;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.footer-links .footer-link:hover,
.home-page-footer .logo:hover {
  color: #001aff; 
  text-decoration: none; 
}
.home-page-footer h3 {
  font-size: 23px;
  margin: 0;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 40px;
}

.footer-links .contact-link {
  margin-right: 40px;
}
