$main-font: "Mulish", sans-serif;
$primary-color: #4A4FF2;
$secondary-color: #007bff;
$line-color: #BCD0E5;
$font-color: black;

.heading-home {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 110px;

  .heading-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $main-font;

    .heading-text-1 {
      margin: 40px 0 30px 0;
      line-height: 1.6;
      color: $primary-color;
      font-size: 22px;
      font-weight: bold;
    }

    .heading-text-2 {
      font-size: 33px;
      line-height: 1.6;
      color: $font-color;

      .highlight {
        font-size: 33px;
        display: flex;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}

.quote {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  flex-direction: column;

  .quote-text {
    font-size: 18px;
    font-family: $main-font;
    font-style: italic;
    color: $font-color;
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  .quote-line {
    display: flex;
    width: 30px;
    height: 4px;
    background-color: #979797;
    margin-right: 4px;
    margin-bottom: 6px;
  }
}

.grid-img-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 110px;

  .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: start;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.service-heading {
  padding: 100px 110px;
  display: flex;
  flex-direction: row;
  font-family: $main-font;
  align-items: center;
  justify-content: space-between;

  .service-heading-text {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    width: 570px;
  }

  .service-heading-link1,
  .service-heading-link2 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
  }
}

.small-container {
  width: 83%;
  height: 48px;
  border-top: 2px solid $line-color;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.service-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 50px 0;
}

.service-list1 {
  max-width: 80%;
  padding: 130px 110px;
  display: flex;
  flex-direction: row;
  font-family: $main-font;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;

  .title-column {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-weight: bold;
    font-size: 18px;
  }

  .service-li {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100px;

    .li-2 {
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .service-margin {
    margin-bottom: 80px;
  }

  .year-1 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-self: flex-start;
  }
}

.awards-text {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 100px;
}
