$main-font: "Mulish", sans-serif;

.home-page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 110px;
  color: black;
  font-family: $main-font;
}

.home-page-nav .logo {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.nav-links .nav-link {
  text-decoration: none; 
  color: inherit;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.nav-links .nav-link:hover,
.home-page-nav .logo:hover {
  color: #001aff; 
  text-decoration: none; 
}
.home-page-nav h3 {
  font-size: 23px;
  margin: 0;
}


.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  list-style-type: none; 
}



